/* 🔹 Reset global y ajuste para evitar scroll */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* ✅ elimina el scroll */
  background-color: #eeeeee;
}

/* 🔹 Contenedor principal */
.catalogo-container {
  background-color: #eeeeee;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.bloque-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bloque-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px !important;
}
.bloque-3 {
  background-color: blue;
  padding: 30px;
}

.navbar-container {
  height: 20%;
}
.carrusel {
  width: 100%;
}

.menu-boton {
  color: white;
  width: 200px;
  height: 100px;
  background-color: blue;
  border: none;
  margin-left: auto;
}

.boton-carrito {
  color: white;
  width: 150px;
  height: 50px;
  background-color: rgb(255, 123, 0);
  border: none;
}

.boton-desactivado {
  background-color: grey;
  cursor: auto !important;
}
.logo {
  width: 400px;
}
@media (max-width: 768px) {
  .bloque-1 {
    height: 40%;
    margin-top: 40px !important;
  }
  .bloque-2 {
    flex-direction: row;
  }
  .menu-boton {
    color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    margin: 0px;
  }
  .boton-desactivado {
    background-color: grey;
  }
  .logo {
    width: 300px;
  }
}
