/* 🔹 Reset global y ajuste para evitar scroll */
@import url("https://fonts.googleapis.com/css2?family=Prosto+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* ✅ elimina el scroll */
  background-color: #eeeeee;
}
.prosto-one-regular {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.boton-poleras {
  border-left: 10px solid rgb(255, 115, 0) !important;
}
.menu-container {
  display: flex;
  justify-content: center;
}
/* 🔹 Contenedor principal */
.catalogo-container {
  background-color: #eeeeee;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.bloque-1 {
  margin-left: 230px;
  max-width: 73.5% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bloque-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px !important;
}
.bloque-3 {
  background-color: rgb(19, 46, 122);
  padding: 30px;
  max-width: 300px;
}

.navbar-container {
  height: 20%;
}
.carrusel {
  width: 100%;
}

.menu-boton {
  color: white;
  width: 200px;
  height: 100px;
  background-color: rgb(31, 67, 168);
  border: none;
  margin-left: auto;
}

.boton-carrito {
  color: white;
  width: 150px;
  height: 50px;
  background-color: rgb(255, 123, 0);
  border: none;
}

.boton-desactivado {
  background-color: grey;
  cursor: auto !important;
}
.logo {
  width: 400px;
}
@media (max-width: 768px) {
  .bloque-1 {
    margin-left: 0px;
    max-width: 100% !important;
    height: 40%;
    margin-top: 40px !important;
  }
  .bloque-2 {
    flex-direction: row;
  }
  .menu-boton {
    color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    margin: 0px;
  }
  .boton-desactivado {
    background-color: grey;
  }
  .logo {
    width: 300px;
  }
  .boton-poleras {
    border-top: 6px solid rgb(255, 115, 0) !important;
  }
  .carrito-contenedor-superior {
    min-height: 55vh !important;
    max-height: 55vh !important;
  }
}

.btn-danger {
  background-color: rgb(255, 123, 0) !important;
  border: none !important;
}
.carrito-logo {
  width: 30px;
  margin-right: 8px;
  filter: invert();
}
.total {
  font-family: "posto one", sans-serif !important;
}
.card-carrito {
  min-width: 100% !important;
  border-radius: 0px !important;
  font-family: "prosto one", sans-serif;
}

.offcanvas-header {
  font-family: "prosto one", sans-serif;
}

.carrito-contenedor-superior {
  min-height: 60vh;
  max-height: 60vh;

  overflow-y: auto;
}

.btn-vaciar {
  background-color: rgb(255, 123, 0) !important;
  border: none !important;
  min-height: 60px;
  font-family: "prosto one", sans-serif !important;
}
.btn-finalizar {
  border: none !important;
  min-height: 60px;
  background-color: rgb(31, 67, 168) !important;
  font-family: "prosto one", sans-serif !important;
}
